 h2, h3{
    margin:0px;
}

nav{
  background-color: #f0bd35;
}

.header{
  font-weight: bold;
  /*float: left;
  align: left;*/
}

.description{
  /*float: left;*/
}

.inner{
  border: 1px grey solid;
}
